body
{
background-color:#404040;
font-family: 'Lato', sans-serif;
}
#container
{
	width:1000px; 
	margin-left:auto;
	margin-right:auto;
    
}

#logo
{
	margin-top:20px;
	color:#ffffff;
	font-size:44px;
	font-weight:900;
	letter-spacing:3px;
}

#menu
{
	margin-top:20px;
	background-color:#303030;
	padding:10px;
	color:#ffffff;
	height:45px;
	border-radius:3px;
}
.option
{
	float:left;
	min-width:50px;
	min-height:25px;
	font-size:18px;
	padding:10px;
	border-right: 2px dotted #444444;
}
.option:hover
{
	background-color:#000000;
	cursor:pointer;
}

#photo
{
	margin-top:25px;
	width:200px;
	min-height:300px;
	background-color:lightgray;
	float:left;
	
	
}

#tresc
{
	margin-top:25px;
	width:1000px;
	min-height:300px;
	background-color:#dedede;
	font-size:18px;
	border-radius:3px;
}
.bigtitle
{
	font-size:28px;
	font-weight:900;
	letter-spacing:2px;
	color:#000000;
}
#footer
{
	clear:both;
	font-size:18px;
	padding:20px;
	color:white;
	text-align:center;
	
}